
.new_footer_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background: linear-gradient(135deg, #fffaf0 0%, #fff5f5 100%);
}

.line{
  color: rgb(0, 0, 0);
  padding: 20px 0;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #de2323;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none; 
  align-items: center;
  justify-content: center;
  font-size: 20px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  z-index: 3; 
}
.scroll-to-top:hover {
  background-color: #e63b3b;
}
.scroll-to-top i {
  pointer-events: none; 
}
